/* src/components/Login.css */

.admin-login-container {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  margin-top: 120px;
 
  justify-content: center;
  align-items: center;
}
.admin-image{
  height:350px;
  width:90%;
  margin-right:25px;
  border-radius: 25px;
}
.admin-login-header {
  margin-bottom: 20px;
  text-align: center;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
width:500px;
  height:300px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.admin-login-form-group {
  margin-bottom: 15px;
}

.admin-login-label {
  display: block;
  margin-bottom: 5px;
}

.admin-login-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  justify-self: center;
}

.admin-login-button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.admin-login-button:disabled {
  background-color: #6c757d;
}

.admin-login-error-message {
  color: red;
  margin-top: 10px;
}

.admin-login-success-message {
  color: green;
  margin-top: 10px;
}
